html, body {
    font-size: 14px;
}

body {
    padding-bottom: 60px;
}

#doc-accordion {
    height: calc(100% - 342px);
    overflow-y: auto;
}

.btn,
.alert,
.card,
.card-header {
    border-radius: 0!important;
}

#doc-accordion .card {
    border:none;
}

#doc-accordion .card-header {
    cursor: pointer;
}

#doc-accordion .card-header {
    padding: 0;
}

#doc-accordion a {
    display: block;
    padding: .75rem 1.25rem;
    font-size: 1rem;
}

#doc-accordion a:hover {
    text-decoration: none;
}

.editor {
    height: calc(100% - 100px);
    padding-top: 1rem;
}

.editor .CodeMirror {
    height: 100%;
}

.collapsed  {
    font-family:'Rajdhani';
    font-size: 16px;
    color: #006bff;
}

.card-header {
    font-family:'Rajdhani';
    font-size: 16px;
    font-weight: 600;
    color: #006bff;
    background-color: #f7f7f7;
    border-color: rgba(0,0,0,.15);
}

.card-header:hover a {
    font-family:'Rajdhani';
    font-size: 16px;
    color: white !important;
    background-color: #006bff;
}

.card-body {
    font-family:'Rajdhani';
    font-size: 14px;
}

.btn-primary1 {
    font-family:'Rajdhani';
    font-size: 20px;
    font-weight: 600;
    background-color: #006bff;
    color: white;
    width: 161px !important;
    height: 58px;
    float: left;
}

.btn-primary1:hover {
    background-color: #5fa2ff;
}

.btn-primary2 {
    font-family:'Rajdhani';
    font-size: 20px;
    font-weight: 600;
    background-color: #006bff;
    color: white;
    width: 173px;
    height: 58px;
}

.btn-primary2:hover {
    background-color: #5fa2ff;
}

code {
    font-family:'Rajdhani';
    font-size: 14px;
    color: #006bff;
    border: 1px solid rgba(0,0,0,.15);
    display: inline-block;
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
    background: none;
}

h3 {
    font-family:'Rajdhani';
    font-size: 20px;
    font-weight: 600;
    padding-top: 1rem;
}

.alert-warning {
    font-family:'Rajdhani';
    font-size: 16px;
    font-weight: 600;
    background-color: #e83e27;
    color: white;
    border:none;
    width: calc(100% - 161px) !important;
    float: left;
    min-height: 58px;
    line-height: 1;
    padding-top: 1rem !important;
    /*padding-bottom: 0.4rem !important;*/
    /*padding-bottom: 0.450rem !important;*/
}

nav a {
    color: black;
}

.lang_text {
    font-family:'Rajdhani';
    font-size: 14px;
    text-decoration: none;
}

.lang_text:hover {
    font-family:'Rajdhani';
    font-size: 14px;
    color: black;
    text-decoration: none;
}

.lang_text + .lang_text:before {
    content:"|";
    padding: 10px;
}

.checkcode {
    font-family:'Rajdhani';
    font-size: 14px;
    font-weight: 600;
    color: black;
    margin-top: 2rem;
    line-height: 1rem;
}

.progress-bar {
    color: #006bff;
    height: 10px;
}

.progress-box {
    border: 1px solid;
    border-color: rgba(0,0,0,.15);
    margin-bottom: 2rem !important;
    width: 173px;
}

.full-height {
  height: 100%;
}

.col-6 {
    padding-top: 0.5rem;
}

.form-control {
    height: 35px;
}

.input-group-addon {
    height: 35px;
}

.input-group {
    padding-bottom: 0.5rem;
}

.clearfix2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

h3 .pull-left {
    padding-top: 0.5rem !important;
}

.col_right {
    padding-top: 6rem;
}

.logo-text {
    padding-top: 1rem;
}

.card-body p {
    line-height: 1;
    text-align: justify;
}

.question_mark {
    font-size: 15px !important;
    padding: 2px 6px !important;
    color: #006bff;
    border-color: rgba(0,0,0,.15);
}

.question_mark:focus {
    background: white;
    color: #006bff;
    border-color: rgba(0,0,0,.15);
}

.question_mark:hover {
    background: white;
    color: #5fa2ff;
    border-color: rgba(0,0,0,.15);
}

#basic-addon1 {
    border-radius: 0;
    color: #006bff;
    border: 0;
    position: absolute;
    right: 0;
    top: 0rem;
    z-index: 4;
    background: none;
}

.icons {
    padding-top: 1rem;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
    background: #006bff;
    border-radius: 0;
}

.bootstrap-switch {
    border-radius: 0;
    background-color: white;
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
    background: #f7f7f7;
    border-radius: 0;
}

.col_right {
    padding-top: 6rem;
    float: right;
    width: 173px;
}

.btn:focus,
.form-control,
.input-group-addon:focus {
    box-shadow: none;
}





@media only screen and (max-width: 768px) {
    .full-height {
      height: auto;
    }
    .editor {
    height: 400px;
    }
    .mobile_space{
        margin-top: 0.5rem;
    }
    #doc-accordion {
        height: auto;
    }
    .col_right {
        padding-top: 2rem;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: none;
    }

    .col-md-5,
    .col-md-7 {
        flex: none;
        max-width: 100%;
    }
}


/*****************************************************************/

body.dark {
    background-color: black;
}

.dark h3 {
    color: white;
}

.dark .question_mark {
    font-size: 20px;
    padding: 0.20rem 0.5rem;
    background-color: white !important;
    color: #9a9b9e !important;
}

.dark .question_mark:hover {
    background: white;
    color: #006bff;
    border-color: rgba(0,0,0,.15);
}

.dark .card-header a {
    font-family:'Rajdhani';
    font-size: 16px;
    font-weight: 600;
    color: white !important;
    background-color: #006bff;
}

.dark .card-header:hover a {
    font-family:'Rajdhani';
    font-size: 16px;
    color: white !important;
    background-color: #1c7bff;
}

.dark .lang_text {
    font-family:'Rajdhani';
    font-size: 14px;
    text-decoration: none;
    color: #9a9b9e;
}

.dark .lang_text:hover {
    font-family:'Rajdhani';
    font-size: 14px;
    color: #9a9b9e;
    text-decoration: none;
}

.dark .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
    background: #006bff;
    border-radius: 0;
}

.dark .bootstrap-switch {
    border-radius: 0;
    background-color: white;
}

.dark .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
    background: #f7f7f7;
    border-radius: 0;
}

.dark .checkcode {
    font-family:'Rajdhani';
    font-size: 14px;
    font-weight: 600;
    color: #9a9b9e;
    margin-top: 2rem;
    line-height: 1rem;
}

.dark .question_mark {
    color: #a8a8a8;
}

.dark .question_mark:focus {
    background: white;
    color: #9a9b9e;
    box-shadow: none;
}

.dark .question_mark:hover {
    background: white;
    color: #3c3f41 !important;
    background-color: none;
}

.dark .progress-box {
    border: none;
    background: white;
}

.dark .progress-bar {
    color: #006bff;
    height: 10px;
}

.dak .progress-box {
    border: 1px solid;
    border-color: #9a9b9e;
}

.dark .btn:focus,
.dark .input-group-addon:focus {
    box-shadow: none !important;
    outline: none !important;
}

.dark .input-group-addon {
    box-shadow: none;
    outline: none;
}

.dark .search:focus {
    box-shadow: none;
    outline: none;
    border: none;
}

.dark #basic-addon1 {
    color: #9a9b9e;
}

.dark .card-header {
    background: black;
}
